.review__outer
  .review__head
    img.review__img(src=review.imgFile.file, alt="", srcset="")
  .review__body
    .review__info
      | !{review.content}
      .review__info-footer
        .review__author #{review.authorPosition}
        .review__author-name #{review.authorName}
    .cards
        .cards__head
            img.cards__img(src=review.document.documentFile.preview, alt="")
        .cards__body
            .cards__info
                h3.cards__name #{review.document.title}
                p.cards__date #{review.document.date}
            a.cards__download(href=review.document.documentFile.file)
                img.card__download-img(src="/assets/img/svg/download.svg", alt="")