section.cards__section
  .container
    .row
      h2.header__h2 Документы
    .cards__wrapper
      each val in documents
        .cards
          .cards__head
            img.cards__img(src=val.documentFile.preview, alt="")
          .cards__body
            .cards__info
              a.cards__name.--doc(href="/document/" + val.id) #{val.title}
              p.cards__date #{val.date}
            a.cards__download(href=val.documentFile.file)
              img.card__download-img(src="/assets/img/svg/download.svg", alt="")
    if layouts.count() > 0
        .row
           h2.header__h2 Шаблоны договоров
        .cards__wrapper
            each val in layouts
                .cards
                    .cards__head
                       img.cards__img(src=val.documentFile.preview, alt="")
                    .cards__body
                        .cards__info
                            a.cards__name.--doc(href="/document/" + val.id) #{val.title}
                            p.cards__date #{val.date}
                        a.cards__download(href=val.documentFile.file)
                            img.card__download-img(src="/assets/img/svg/download.svg", alt="")
