.swiper-container.slider-reviews
  .swiper-wrapper.slider-reviews-wrapper
    each review in reviews
      - var href = 'review/' + review.id
      .swiper-slide.slider-reviews--slide
        img.slider-reviews--slide--img(src=review.imgFile.file, alt="")
        p.slider-reviews--slide--info
            | #{ review.lead }
        .slider-reviews--slide--footer
          .slider-reviews--slide--author-wrapper
            p.slider-reviews--slide--author
              | #{ review.authorName }
            p.slider-reviews--slide--author-job
              | #{ review.authorPosition }
          a(href=href).slider-reviews--slide--link
            svg.slider-reviews--slide--arrow(xmlns='http://www.w3.org/2000/svg', width='18', height='14', viewBox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')

  .slider-reviews--pagination
.container
  .row
    .slider-reviews--controls
      .slider-reviews--slide--prev
        img(src="./assets/img/svg/slider-chevron.svg", alt="")
      .slider-reviews--slide--next
        img(src="./assets/img/svg/slider-chevron.svg", alt="")
